.load {
    position: fixed;
    display: flex;
    z-index: 10000;
    height: 100%;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-weight: bold;
}

.load div {
    position: static;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 2em;
}

.load p {
    font-weight: normal;
    letter-spacing: 1px;
}